<table id="list">
  <thead>
    <tr>
      <th>Airline</th>
      <th>Airport</th>
      <th>Flight Number</th>
      <th>Departing Date</th>
      <th>Arriving</th>
      <th>Information</th>
      <th>Tickets</th>
    </tr> 
  </thead>
  <tbody>
    <a href="/flights/new"> <button>Add a Flight</button> </a>

    <% flightDatabase.forEach(function(f) { %>
      <tr>
        <td><%= f.airline %></td>
        <td><%= f.airport %></td>
        <td><%= f.flightNo %></td>
        <td><%= f.departs %></td>
        <td><%= f.destinations %></td>
        <td><a href="/flights/<%= f._id %>">DETAILS</a></td>
        <td><a href="/flights/<%= f._id %>/tickets/new">TICKETS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>